@charset "UTF-8";
/* CSS Document */

a {
    color: black;
}

.top-container {
    background-color: rgb(80, 196, 105);
    
}

.nav {
    background-color: whitesmoke;
    border-top-color:orangered;
}

.nav-items:hover {
    color: red;
}

.section {
    background-color: rgb(245, 245, 245);
}

.color-nb{
    color: red;
}

.color-nb-point{
    color: darkgreen;
}