@charset "UTF-8";
/* CSS Document */



html, body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 20px;
  min-height: 70vh;
  margin: 0 auto -50px;
}

footer {
  background: #42A5F5;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

